/* header & footer */
.nav-links li a:hover,
.footer-links__pages ul li a:hover, 
.footer-links__services ul li a:hover, 
.footer-links__contact ul li a:hover {
    text-decoration: underline;
}


/* main */
.main-screen__button a:hover{
    padding: 21px 5px;
    transition: padding 0.5s ease;
}

.features-blocks__block a:hover{
    background: #F4F0EC;
    padding: 5px 15px;
    border-radius: 12px;
    transition: all 0.5s ease;
}


.create-text__button a:hover{
    padding: 21px 15px;
    transition: padding 0.5s ease;
}



.main-screen,
.create-img,
.proj-boxes__box--img--01,
.proj-boxes__box--img--02,
.proj-boxes__box--img--03,
.proj-boxes__box--img--04,
.news-blocks__block--img
{
    overflow: hidden;
}

.main-screen__container,
.create-img img,
.proj-boxes__box img,
.news-img{
    transition: all .7s;
}

.main-screen__container:hover,
.create-img img:hover,
.proj-boxes__box img:hover,
.news-img:hover{
    transform: scale(1.1);
}

.join-button a:hover{
    padding: 26px 20px;
    transition: padding 0.5s ease;
}




/* ======= */
/* 
background animation 


parent: 
.main-container{
    overflow: hidden;
}


child:
.main-screen{
    transition: all .5s;
}
.main-screen:hover{
    transform: scale(1.2)
} */