.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin: 44px auto 57px;
}

.header-nav,
nav,
.nav-links {
    display: flex;
    align-items: center; 
    justify-content: space-between;

    max-width: 572px;
    width: 100%;

}

.nav-links li a {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;


    color: #292F36;
}

.header-logo {
    max-width: 177px;
    width: 100%;
}